

.tex-resizer {
  white-space: nowrap;
  line-height: normal;
  text-wrap: nowrap;
}
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}